@import "variables";

#footer {
  background-color: $color-base-dark;
  width:100%;
  height: $footer-height;
  color: $contrast-text-color;
  font-size: 8pt;

  a {
    color: $contrast-text-color;
  }

  .doh-link{
    img {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .sd-credit{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .right-footer{
    /*padding-top: $std-padding * 2;*/
    /* bottom: 0;*/
    height: $footer-height;
    display: table;
    float: right;
  }
  .contact-support{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
}
