@import "variables";

.banner-header {
//  width: 100%;
  background-image: $header-gradient;
}

.brand {
  height: $header-height;
  //float: left;
  //height: 100%;
  //padding-top: 0;

  //.brand-link {
    //float: left;
    //height: 205px;
    //width: 233px;
    //background-color: $contrast-text-color;
  //}

  .brand-logo {
    //height: 100px;
    width: 400px;
    padding-left: 20px;
    padding-top: 20px;
    float:left;
  }
}


.brand-text {
  //display: inline-block;
  //padding-top: 6%;
  //padding-left: $std-padding * 2;
  //padding-top: 1%;

  h2 {
    font-size: $h4-font-size;
  }
}

.navbar-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar {
  background: transparent;
  border: 0;

}

.main-navigation .nav>li {

    a {
      border-left: 1px solid;
      color: $contrast-text-color;
      text-decoration: none;
    }

    &.current {
      background-color: $contrast-text-color;
      a {
        color: $std-text-color;
      }
      border-color: $contrast-text-color;
      &:focus,
      &:hover {
        color: $contrast-text-color;
      }
    }
}

.navbar-inverse {
  background-color: $color-base-dark;
}
.navbar-inverse .navbar-nav > li > a {
  border-color: rgba(255, 255, 255, 0.7);
  &:focus,
  &:hover {
    background: $color-base-bright;
    color: $color-base-dark;
  }
}

.bootstrap-icon {
  margin-right: 5px;
}

.navbar-toggler-icon {
  filter: invert(100%);
}
