$std-padding: 15px;
$std-text-color:  #000;
$contrast-text-color: #fff;

$color-base-bright: #1150a5;
$color-base-dark: #144ea1;

$header-height: 255px;
$header-gradient: linear-gradient(to bottom, #1179d2, #113184);

$footer-height: 90px;
