<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <style>
      @import url(/css/pmhcmds.css);
    </style>
    <script src="/js/pmhcmds-static-lib.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="wrapper">
      <div id="header" class="banner-header">
        <div class="container">
          <div class="brand">
            <a class="brand-link" href="/index.html">
              <img class="brand-logo" src="/img/doh_small.png" alt="Australian Government Department of Health" />
            </a>
          </div>
          <div class="brand-text">
            <h1>Welcome to the PMHC-MDS</h1>
            <h4>Primary Mental Health Care Minimum Data Set</h4>
          </div>
        </div>

        <div class="navbar-wrapper">
          <div class="container">
            <nav class="navbar navbar-inverse main-navigation" role="navigation">
              <ul class ="nav navbar-nav navbar-left">
                <li {% if page.url == '/' %} class="current" {% endif %}>
                  <a href="/index.html">Home</a>
                </li>
                <li {% if page.url == '/getstarted/' %} class="current" {% endif %}>
                  <a href="/getstarted/">Get Started</a>
                </li>
                <li>
                  <a href="//docs.pmhc-mds.com/" target="_blank" >Documentation</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div id="main" class="container main-container">
        <div class="row">
          <h2 class="subhead">{{ page.sub-heading }}</h2>
        </div>
        <div class="row">
          {{ content }}
        </div>
      </div>
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-4">
              <img src="/img/bar.png" alt="Australia Government Department of Health colour brand"/>
              <a class="doh-link" href="http://www.health.gov.au/"><img src="/img/doh_light.png" alt="Australian Government Department of Health"/></a>
              <p class="sd-credit">PMHC-MDS managed by <a href="http://strategicdata.com.au">Strategic Data Pty Ltd</a></p>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
              <div class="right-footer">
                <p class="contact-support">
                  <a id="email_support" href="mailto:support@pmhc-mds.com">&#x2709; Contact support</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
