---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "_bootstrap";

@import "variables";
@import "typography";
@import "header";
@import "footer";

.main-container {
  margin-top: 50px;
}

.invisible {
  display: none;
}

.step {
  p {
    padding-top: $std-padding;
    padding-bottom: $std-padding;
  }
  ul{
    padding-bottom: $std-padding;
  }
  padding-top: $std-padding;
  border-bottom: 1px dotted #CCC;
}

#wrapper {
  min-height:100%;
  position:relative;
}
#main {
  padding-bottom: $footer-height; /* Height of the footer element */
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.archive {
	margin-top:10px;
}

.iconspace {
  margin-right: 5px;
}

.flame {
  float: right;
  width: 10%;
}
.feedback {
  float: left;
  width: 20%;
}
.info {
  float: right;
  width: 20%;
}
.divider {
  width: 100%;
}

td .useful {
  width: 100%;
}

div .post {
  border-top: 1px solid gainsboro;
}

/*  */
.navbar-right {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    border-left: 1px solid;
    border-color:rgba(255, 255, 255, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    a {
    color:white!important;
    }
}

/* Remove border-radius from navbar */
@media (min-width: 768px) {
.navbar {
	  border-radius: 0px!important;
	}
}
