<div>
<h2 class="subhead">Announcements</h2>

<div class="post">
  <h3>Latest</h3>
    {% for post in site.posts limit:1 %}
      <h4><a href="/communications/#{{ post.url }}">{{ post.title }}</a></h4>
      {{ post.excerpt }}
    {% endfor %}
</div>

<div class="post">
  {% if site.posts.size > 1 %}
  <h3>Previous</h3>
  <div class="l-announcements">
    {% for post in site.posts offset:1 limit:3 %}
    <p>
      <a href="/communications/#{{ post.url }}">{{ post.title }}</a><span> <span aria-hidden="true">|</span> {{ post.date | date: '%B %d, %Y' }}</span>
    </p>
    {% endfor %}
  </div>
  <p class="archive"><a href="/communications/">View Archive</a></p>
  </div>
  {% endif %}
</div>
