<div class="l-announcements">
<h2 class="subhead">Announcements</h2>
  <hr />
<h3>Latest</h3>
  {% for post in site.posts limit:1 %}
      <a href="/communications/#{{ post.url }}"><h4>{{ post.title }}</h4></a>
      {{ post.excerpt }}
  {% endfor %}

{% if site.posts.size > 1 %}
<hr />
<h4>Previous</h4>
<ul>
  {% for post in site.posts offset:1 limit:3 %}
    <li>
      <a href="/communications/#{{ post.title }}">{{ post.title }}</a><span> | {{ post.date | date: '%B %d, %Y' }}</span>
    </li>
  {% endfor %}
    <li class="archive"><a href="/communications/">View Archive</a></li>
</ul>
{% endif %}


</div>