    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
    <header id="header" class="container-fluid banner-header">
      <div class="row">
        <div class="col-sm-3 brand  d-flex flex-column justify-content-center align-items-center text-center">
          <a class="brand-link" href="/index.html">
            <img class="brand-logo img-fluid" src="/img/aihw_top.png" alt="Australian Institute of Health and Welfare">
          </a>
        </div>
        <div class="col-sm-6 brand-text d-flex flex-column justify-content-center align-items-center text-center">
          <h1 class="fw-bold mb-0">Welcome to the PMHC MDS</h1>
          <h2 class="fw-bold mt-3 mb-0">Primary Mental Health Care Minimum Data Set</h2>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </header>