    <footer id="footer" class="footer">
        <div class="container h-100 d-flex flex-column">
            <div class="row flex-grow-1">
                <div class="col-6 ms-6  d-flex flex-column justify-content-center">
                    <div class="contact-support">
                        <a class="bootstrap-icon" href="mailto:support@pmhc-mds.com"><i aria-hidden="true" class="bi bi-envelope"></i></a>
                        <a id="email_support" href="mailto:support@pmhc-mds.com">Contact support</a>
                    </div>
                    <div class="logicly-credit">
                        <div>
                            Built and managed by 
                            <a href="http://logicly.com.au">
                                <img src="/img/Logicly_Logo.white.svg" alt="Logicly logo" class="logicly-logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-end d-flex flex-column justify-content-center">
                  <a class="aihw-link" href="http://www.aihw.gov.au/">
                    <img class="footer-logo" src="/img/aihw_white_logo.svg" alt="Australian Institute of Health and Welfare">
                  </a>
                </div>
            </div>
        </div>
    </footer>
