    <a href="#main" class="visually-hidden visually-hidden-focusable">Skip to main content</a>
    <header id="header" class="container-fluid banner-header">
      <div class="row align-items-center">
        <div class="col-auto px-4 brand">
          <a class="brand-link" href="https://www.aihw.gov.au/">
            <img class="brand-logo img-fluid" src="/img/aihw_top.png" alt="Australian Institute of Health and Welfare">
          </a>
        </div>
        <div class="col-auto px-1">
          <div class="vr" style="height: 100px; width: 2px; color: #fff; background-color: #fff;"></div>
        </div>
        <div class="col-auto px-0 brand  d-flex flex-column justify-content-center align-items-center ">
          <img class="brand-logo img-fluid" src="/img/pmhc_logo.png" alt="PMHC MDS logo">
        </div>
      </div>
    </header>