@import "variables";

.banner-footer {
  background-color: $color-base-dark;
  position: absolute;
  height: $footer-height;
  width: 100%;
  bottom: 0;
  color: $contrast-text-color;
  font-size: 8pt;

  .doh-link{
    img {
      padding-top: 5px;
    }
  }
  .sd-credit{
    padding-top: $std-padding * 2;
    bottom: 0;
    float: right;
  }
}
